// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my_event{
  padding-bottom : 17px;
}

.my_event.desc{
  background : white;
}

.dashboard-elem{
  margin-top : 3px;
  margin-bottom : 3px;
  border-top : 2px solid #313131;
}

.danger .badge{
  background-color : red;
}

.list-group-item.new {
  margin-bottom: 3px;
  border-color: #313131;
  .badge{
    background-color : orange;
    color : white;
  }
}